<!--HEADER-->
<div class="project__header">
    <div class="project__header-left" hb-s-pt="4.5" hb-s-pl="2.5">
        <img hb-t-font="interact"
             ng-click="goUrl(activeProject.forUrl)"
             ng-src="{{activeProject.forLogoUrl}}" width="60px">
    </div>
    <div class="project__header-right" hb-s-py="4" hb-s-pl="4" hb-s-pr="10">
        <div hb-s-row hb-s-py=".5">
            <div hb-s-col="9">
                <h4 hb-t-font="h4">{{activeProject.title}}</h4>
            </div>
            <div hb-s-col="3" hb-s-pt="1.5">
                    <span hb-s-pull="right" hb-c-text="mono"
                          hb-t-font="small">
                        <span>{{activeProject.dateBegin | date:'MMM yyyy'}}</span>
                        <span ng-if="activeProject.dateEnd.length"> -
                            {{activeProject.dateEnd.length
                            ? (activeProject.dateEnd | date:'MMM yyyy')
                            : 'Present'}}</span>
                    </span>

            </div>
        </div>
        <div hb-s-row>
            <h6 hb-c-text="mono" hb-t-font="h6">{{activeProject.subtitle}}</h6>
        </div>
    </div>
</div>
<!---->
<!--BODY-->
<div class="project__body" hb-s-pl="4" hb-s-pr="6">
    <div hb-s-pt="2" ng-if="activeProject.software.length">
        <span hb-t-font="h5 semi-bold small-caps" hb-s-pr="2">Technologies used: </span>
        <span ng-repeat="software in activeProject.software">
            <span hb-c-text="mono" hb-t-font="h6 small-caps semi-bold">{{software}}<span ng-if="!$last" hb-s-pr="1">,</span></span>
        </span>
    </div>
    <div hb-s-pt="2">
        <span hb-t-font="h5 semi-bold small-caps">Repository: </span>
        <span ng-if="activeProject.repoUrl"
              hb-t-font="small link"
              hb-c-text="primary"
              ng-click="goUrl(activeProject.repoUrl)">
            {{activeProject.repoUrl}}
        </span>
        <span hb-c-text="danger" hb-s-pl="2" hb-t-font="h5 small-caps bold"
              ng-if="!activeProject.repoUrl">private</span>
    </div>
    <div hb-s-pt="4" hb-s-row ng-if="activeProject.bodyImgUrl.length">
        <img ng-src="{{activeProject.bodyImgUrl}}">
    </div>

    <div hb-s-row hb-s-py="4">
        <span hb-t-font="p">{{activeProject.body}}</span>
    </div>
</div>
<!---->

