<div class="projects__left">
    <div hb-s-row hb-s-pr="4" hb-s-pl="8" hb-s-py="5">
        <!--PROJECTS NAV-->
        <div hb-s-row hb-s-pb="4">
            <h5 hb-t-font="h5 small-caps" hb-s-pb="3">Work</h5>
            <div hb-s-row ng-repeat="project in projects" hb-s-pl="1" hb-s-pb="2">
                <h6 ng-click="goProject(project)"
                    hb-c-text="mono"
                    ng-class="{'nav__title--active': activeProjectNav.state === project.state}"
                    hb-t-font="link h6 small-caps">{{::project.title}}</h6>
            </div>
        </div>
        <!---->
        <!--SCHOOL PROJECTS NAV-->
        <div hb-s-row>
            <h5 hb-t-font="h5 small-caps" hb-s-pb="3">School</h5>
            <div hb-s-row ng-repeat="schoolProject in schoolProjects" hb-s-pl="1" hb-s-pb="2">
                <h6 ng-click="goProject(schoolProject)"
                    hb-c-text="mono"
                    ng-class="{'nav__title--active': activeProjectNav.state === schoolProject.state}"
                    hb-t-font="link h6 small-caps">{{::schoolProject.title}}</h6>
            </div>
        </div>
        <!---->
    </div>
</div>
<div class="projects__right" ui-view></div>

