<div hb-s-row hb-s-px="8">
    <!--HEADER-->
    <div hb-s-row>
        <div class="project__header-left" hb-s-pt="4.5">
            <img hb-t-font="interact"
                 ng-click="goForUrl(activeProject)"
                 ng-src="{{activeProject.forLogoUrl}}" width="60px">
        </div>
        <div class="project__header-right" hb-s-pxy="4">
            <div hb-s-row hb-s-py=".5">
                <div hb-s-col="9">
                    <h4 hb-t-font="h4">{{activeProject.title}}</h4>
                </div>
                <div hb-s-col="3" hb-s-pt="1.5">
                    <span hb-s-pull="right" hb-c-text="mono"
                          hb-t-font="small">
                        <span>{{activeProject.dateBegin | date:'MMM yyyy'}}</span>
                        <span ng-if="activeProject.dateEnd.length"> -
                            {{activeProject.dateEnd.length
                            ? (activeProject.dateEnd | date:'MMM yyyy')
                            : 'Present'}}</span>
                    </span>

                </div>
            </div>
            <div hb-s-row>
                <h6 hb-c-text="mono" hb-t-font="h6">{{activeProject.subtitle}}</h6>
            </div>
        </div>
    </div>
    <!---->
    <!--BODY-->
    <div hb-s-row>

    </div>
    <!---->
</div>

