<div class="bio">
    <div class="bio__header">
        <div class="bio__left">
            <img ng-src="/assets/img/me2.jpg"
                 style="border-radius: 50%;" width="180px">
        </div>
        <div class="bio__right">
            <div hb-s-row hb-s-pb="4">
                <h3 hb-t-font="h3">
                    My name is Hunter Brennick and I am currently a senior at Georgia Institute of Technology pursuing a
                    degree in Computer Science.
                </h3>
            </div>
        </div>
    </div>
    <div class="bio__body" hb-t-font="lead" hb-s-pt="4">
        <div hb-s-row hb-s-pb="4">
            <span hb-t-font="lead">
            While pursuing a degree in Computer Science, I have been working at various startups in a wide
            array of roles ranging from consulting to co-founding. Today, I work at a marketing automation company
            called Landing Lion that I co-founded with a team made up of primarily Georgia Tech graduates.
            </span>
        </div>
        <div hb-s-row hb-s-pb="4">
            <span hb-t-font="lead">
            Currently I have a strong passion in data info-visualizations and deeply immersive, explorable analytics.
            I strive to allow people to look at data and analytical information in new, creative, and complex ways which
            have yet to be discovered.
            </span>
        </div>
        <div hb-s-row>
            <span hb-t-font="lead">
            I love working with vibrant, hard-working people that are consistently level-headed, open-minded, curious, and creative on a day-to-day basis.
            </span>
        </div>
    </div>
</div>