<div class="bio">
    <div class="bio__header">
        <div class="bio__left">
            <img ng-src="/assets/img/me2.jpg"
                 style="border-radius: 50%;"
                 hb-s-pull="right" width="120px">
        </div>
        <div class="bio__right">
            <div hb-s-row hb-s-pt="2" hb-s-pb="4">
                <h2 hb-t-font="h2">
                    My name is Hunter Brennick and I am currently a senior at Georgia Institute of Technology pursuing a
                    degree in Computer Science.
                </h2>
            </div>
        </div>
    </div>
    <div class="bio__body">
        <div hb-s-row hb-s-pt="6" hb-s-pb="4">
            <span hb-t-font="p">
            While I have been pursuing a degree in Computer Science, I have been working at various startups in a wide
            array of roles ranging from consulting to co-founding. Today, I work at a marketing automation company
            called Landing Lion that I co-founded with a team made up of primarily Georgia Tech graduates.
            </span>
        </div>
        <div hb-s-row hb-s-pb="4">
            <span hb-t-font="p">
            I currently have a strong passion in data info-visualizations and deeply immersive and explorable analytics.
            I strive to allow people to look at data and analytical information in new, creative, and complex ways which
            have yet to be discovered.
            </span>
        </div>
        <div hb-s-row>
            <span hb-t-font="p">
            I love working with passionate, hard working people that are consistently open-minded, level-headed and creative.
            </span>
        </div>
    </div>
</div>